h1 {
  font-size: 36px;
  line-height: normal;
  background-color: #4470c4;
  border: 5px solid #2d508f;
}
div.float-block {
   position: absolute;
   width: 80%;
   min-width: 30px;
   max-width: 200px;
   height: 70%;
   max-height: 500px;
   color: aaaaaa;
   background: aaaaaa;
   text-align: center;
   z-index: index 15;
}
div.ar {
   width: 80%;
   min-width: 30px;
   max-width: 200px;
   height: 70%;
   max-height: 500px;
}
