h1 {
  font-size: 36px;
  line-height: normal;
  background-color: #4470c4;
  border: 5px solid #2d508f;
}

.float-block {
  position: absolute;
  width: 80%;
  min-width: 30px;
  max-width: 200px;
  height: 70%;
  max-height: 500px;
  color: red;
  background: blue;
  text-align: center;
  z-index: index 15;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: inline-block;
}

.ar {
   width: 80%;
   min-width: 30px;
   max-width: 800px;
   height: 70%;
   max-height: 800px;
}
